.deploy-button {
  display: inline-block;
  background: #5E4E87;
  background-image: linear-gradient(to bottom, #5E4E87, #493D67);
  border-radius: 4px;
  line-height: 55px;
  height: 55px;
  text-decoration: none;
  color: #fff;
  padding: 0 20px 0 14px;
  font-size: 20px;
  font-weight: 600;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.40);
  }

  .icon {
    display: block;
    float: left;
    width: 30px;
    height: 100%;
    background: image-url("cloud.png") no-repeat center center;
    background-size: 100%;
  }
  .text {
    margin-left: 10px;
  }
}
