<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="<%= session[:csrf] %>">
    <title>Open HQ</title>
  </head>
  <body>
    <% [:notice, :error].each do |key| %>
      <% if flash.has? key %>
        <div class="notification <%= key %>">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
