<h1>Free, Open Source project managment software that doesn’t suck</h1>

<h2>Request early access</h2>

<form class="newsletter-signup" action="newsletter" method="post">
  <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
  <input type="text" id="email" name="email" placeholder="you@domain.com">
  <input type="submit" name="submit" value="Subscribe">
</form>
