<h1>Free, Open Source project managment software that doesn’t suck</h1>

<a class="deploy-button" href="https://github.com/openhq/openhq/wiki/Deploy-to-heroku">
  <span class="icon"></span>
  <span class="text">Deploy now</span>
</a>

<div class="page-break"></div>

<form class="newsletter-signup" action="/newsletter" method="post">
  <h2>Stay up to date on Open HQ news</h2>

  <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
  <input type="text" id="email" name="email" placeholder="you@domain.com" class="textfield"><!--
  --><input type="submit" name="submit" value="Subscribe" class="submit">

  <% [:notice, :error].each do |key| %>
    <% if flash.has? key %>
      <div class="app-notification <%= "-#{key}" %>">
        <span class="message">
          <%= flash[key] %>
        </span>
      </div>
    <% end %>
  <% end %>
</form>
